<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{% static 'sfg/js/jquery-3.2.0.min.js' %}"></script>
	<script src="{% static 'sfg/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'sfg/css/bootstrap.min.css' %}" />
</head>
<body>
	<h3>Application Homepage</h3>	
	<div class="container ">
		<div class="row">
			<form method="post" enctype="multipart/form-data" action="{% url 'dashboard' %}">
				{% csrf_token %}
				Caption:<input type="text" name="caption"></br>
				Report: <input type="file" name="myfile">
				<button type="submit">Upload</button>
			</form>
			{% if uploaded_file_url %}
			<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
			{% endif %}
			{% if file_text %}
			<p>FILE TEXT: {{ file_text }}</p>
			{% endif %}
		</div>
		<a href="{% url 'logout' %}">Logout</a>
	</div>
</body>
</html>